{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="./assets/styles/accueil.css"> {% endblock %}



{% block body %}

    <main id="main1">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block" src="./assets/images/caroussel-1.jpg" alt="image caroussel 1">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="./assets/images/caroussel-2.jpg" alt="image caroussel 2">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="./assets/images/caroussel-3.jpg" alt="image caroussel 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </main>

    <main id="main2" class="main-alter">

    <h2 class="pt-2"> Nos Espaces </h2>
    <div class="card-deck my-5 mx-5">
        {% for espace in espaces %}
        <div class="card">
            <img class="card-img-top" src="./assets/images/espaces/{{ espace.nom }}.jpg" alt="image de l'espace {{ espace.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ espace.nom | title }}</h5>
                <p class="card-text">{{ espace.description }}</p>
            </div>
            <div class="card-footer row px-0 mx-0">
                <div class="col">Prix: {{ espace.prix }} €</div>
                <a class="col btn btn-info" href="/espace/{{ espace.id }}"> Détails </a>
            </div>
        </div>
        {%  endfor %}
    </div>
    </main>

    <main id="main3" class="main-alter">
        <h2 class="pt-2"> Nos Formules </h2>

        <div class="card-deck my-5 mx-5">
            {% for formule in formules %}
                <div class="card">
                    <img class="card-img-top" src="./assets/images/formules/{{ formule.nom }}.jpg" alt="image de la formule {{ formule.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ formule.nom | title }}</h5>
                        <p class="card-text">{{ formule.description }}</p>
                    </div>
                    <div class="card-footer row px-0 mx-0">
                        <div class="col">Réduction: {{ formule.reduction * 100 }} %</div>
                        <a class="col btn btn-info" href="/formule/{{ formule.id }}"> Détails </a>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </main>
{% endblock %}

{% block javascripts %} <script src="./assets/scripts/accueil.js"> </script> {% endblock %}
