/**
Section caroussel
 */

.carousel {
    margin-top: 15vh;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
}

.carousel img {
    width: 100vw;
    height: auto;
}

.carousel-control-prev-icon {
    height: 40px;
    width: 40px;
}

.carousel-control-next-icon {
    height: 40px;
    width: 40px;
}

/**
Section card
 */

.main-alter {
    margin: 5vh 2vw;
    padding: 1vh 1vw;
    background-color: #FFE4D4;
}