.main-espace {
    margin-top: 15vh !important;
}

.card-espace {
    margin: 5vh 2vw;
}

.card-title {
    font-size: 1.6rem;
}

.card {
    font-size: 1.4rem;
    margin-left: 16vw;
}

.price {
    position: absolute;
    bottom: 1vh;
    right: 5vh;
}

