html{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    /*font-size: 1.8vh;*/
}

main {
    padding: 0;
    margin: 0;
}

body{
    background-color: #DBA484;
    overflow-x: hidden;
}


/**
Section Navigation
 */

nav {
    background-color: #FFF4ED;
    margin-top: 1vh;
}

.navbar-toggler-icon {
 color: #17a2b8;
}

nav a {
    text-decoration: none;
    color: #313131;
    border-bottom: 5px solid transparent;
}

nav a:hover {
    color: #313131;
    border-bottom: 5px solid #17a2b8;
}

nav-active {
    color: #313131;
    border-bottom: 5px solid #17a2b8;
}

nav img {
    width: 9vh;
}

nav span {
    margin-right: 10vh;
    font-size: 2vh;
}

.nav-item {
    margin-right: 10vh;
}

/**
Section Card
 */
.card .btn {
    color: white!important;
    margin-right: 1vw;
    margin-left: 1vw;
}

.card-footer {
    display: flex;
    align-items: baseline;
    font-weight: 600;
}

/**
Section footer
 */

footer {
    background-color: #FFF4ED;
}

footer a {
    text-decoration: none;
    color: #313131;
    border-bottom: 1px solid transparent;


}

footer a:hover {
    text-decoration: none;
    color: #313131;
    border-bottom: 1px solid #17a2b8;

}

/*
@media (orientation: landscape) {
    html {
        font-size: 1.8vw;
    }
}
*/
