<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le gîte hurle!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/styles/all.css">
        <link rel="stylesheet" href="./assets/styles/style.css">

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="./assets/styles/accueil.css">
    </head>
    <body>

        <header>
                <nav class="navbar fixed-top navbar-expand-lg bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon">&Xi;</span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                          <img src="./assets/images/nav-logo.png" alt="logo du gite hyrle" class="img-fluid">
                            <span> Bienvenue au gîte hurle </span>
                          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                              <a id="/" class="nav-link" href="/">Acceuil</a>
                            </li>
                            <li class="nav-item">
                              <a id="espace" class="nav-link" href="/espace">Espaces</a>
                            </li>
                            <li class="nav-item">
                                <a id="formule" class="nav-link" href="formule">Formules</a>
                            </li>
                          </ul>
                            <div class="my-2 my-lg-0 mr-4">
                                <a  id="Reservation" class="nav-link btn btn-outline-info" href="#">Reservation</a>
                            </div>
                        </div>
                      </nav>
        </header>
        
        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class=" font-small pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Le Gîte Hurle</h6>
                        <p>
                            Au coeur du territoire des cévennes le gîte hurle, vous accueil toute l'année.
                            On vous attends, à très vite.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Plan du site</h6>
                        <p>
                            <a href="/">Acceuil</a>
                        </p>
                        <p>
                            <a href="/espace">Nos espaces</a>
                        </p>
                        <p>
                            <a href="/formule">Les formules</a>
                        </p>
                        <p>
                            <a href="/reservation">Réserver vite</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p> <i class="fas fa-home mr-3"></i>  48240 Ventalon en Cévennes </p>
                        <p> <i class="fas fa-envelope mr-3"></i> info@gitehurle.fr</p>
                        <p> <i class="fas fa-phone mr-3"></i> 04 77 45 86 12 </p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Footer links -->

            </div>
            <!-- Footer Links -->

        </footer>
        <!-- Footer -->
        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
