{% extends 'base.html.twig' %}

{% block title %} Espace {% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="./assets/styles/espace.css"> {% endblock %}

{% block body %}
    <main id="main2" class="main-alter main-espace">

        <h2 class="pt-2"> Nos Espaces </h2>

        {% for espace in espaces %}
        <div class="card mb-3 card-espace" style="max-width: 60vw;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ espace.nom |title }}</h5>
                        <p class="card-text">
                            <ul>
                            {% for item in espace.items %}
                                <li style="list-style: none"> &#9733; {{ item }} </li>
                            {% endfor %}
                            </ul>
                        </p>
                        <p class="card-text font-weight-bold price">Prix: {{ espace.prix }}€ </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src="./assets/images/espaces/{{ espace.nom }}.jpg" class="card-img" alt="image de l'espace {{ espace.nom }}">
                </div>
            </div>
            <div class="card-footer row px-0 mx-0">
                <a class="col btn btn-info"> Réserver </a>
            </div>
        </div>
        </div>
        {%  endfor %}

    </main>
{% endblock %}
