{% extends 'base.html.twig' %}

{% block title %} Formule {% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="./assets/styles/espace.css"> {% endblock %}

{% block body %}
    <main id="main2" class="main-alter main-espace">

        <h2 class="pt-2"> Nos Formules </h2>

        {% for formule in formules %}
            <div class="card mb-3 card-espace" style="max-width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ formule.nom | title}}</h5>
                            <p class="card-text">{{ formule.description }}</p>
                            <p class="card-text font-weight-bold price">Réduction: {{ formule.reduction * 100 }} % </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="./assets/images/formules/{{ formule.nom }}.jpg" class="card-img" alt="image de la  formule {{ formule.nom }}">
                    </div>
                </div>
                <div class="card-footer row px-0 mx-0">
                    <a class="col btn btn-info"> Réserver </a>
                </div>
            </div>
            </div>
        {%  endfor %}

    </main>
{% endblock %}
